/* Grid */
.row {
  width: 100%;
  vertical-align: top;
}

.col-1_1, .col-2_2, .col-3_3, .col-4_4, .col-5_5,
.col-6_6, .col-7_7, .col-8_8, .col-9_9, .col-10_10 {
  width: 98%;
  margin-left: 1.0%;
  margin-right: 1.0%;
  display: inline-block;
  vertical-align: top;
}

.col-1_2, .col-2_4, .col-3_6, .col-4_8, .col-5_10 {
  width: 48%;
  margin-left: 1%;
  margin-right: 1%;
  display: inline-block;
  vertical-align: top;
}

.col-1_3, .col-2_6, .col-3_9 {
  width: 31%;
  margin-left: 1.0%;
  margin-right: 1.0%;
  display: inline-block;
  vertical-align: top;
}

.col-2_3, .col-4_6, .col-6_9 {
  width: 64%;
  margin-left: 1.0%;
  margin-right: 1.0%;
  display: inline-block;
  vertical-align: top;
}

.col-1_4, .col-2_8 {
  width: 23%;
  margin-left: 1.0%;
  margin-right: 1.0%;
  display: inline-block;
  vertical-align: top;
}

.col-3_4, .col-6_8 {
  width: 73%;
  margin-left: 1.0%;
  margin-right: 1.0%;
  display: inline-block;
  vertical-align: top;
}

.col-1_5, .col-2_10 {
  width: 18%;
  margin-left: 1.0%;
  margin-right: 1.0%;
  display: inline-block;
  vertical-align: top;
}

.col-2_5, .col-4_10 {
  width: 38%;
  margin-left: 1.0%;
  margin-right: 1.0%;
  display: inline-block;
  vertical-align: top;
}

.col-3_5, .col-6_10 {
  width: 58%;
  margin-left: 1.0%;
  margin-right: 1.0%;
  display: inline-block;
  vertical-align: top;
}

.col-4_5, .col-8_10 {
  width: 78%;
  margin-left: 1.0%;
  margin-right: 1.0%;
  display: inline-block;
  vertical-align: top;
}

.col-1_6 {
  width: 15%;
  margin-left: 1.0%;
  margin-right: 1.0%;
  display: inline-block;
  vertical-align: top;
}

.col-5_6 {
  width: 75%;
  margin-left: 1.0%;
  margin-right: 1.0%;
  display: inline-block;
  vertical-align: top;
}

.col-1_7 {
  width: 12.3%;
  margin-left: 1.0%;
  margin-right: 1.0%;
  display: inline-block;
  vertical-align: top;
}

.col-2_7 {
  width: 26.6%;
  margin-left: 1.0%;
  margin-right: 1.0%;
  display: inline-block;
  vertical-align: top;
}

.col-3_7 {
  width: 40.9%;
  margin-left: 1.0%;
  margin-right: 1.0%;
  display: inline-block;
  vertical-align: top;
}

.col-4_7 {
  width: 55.1%;
  margin-left: 1.0%;
  margin-right: 1.0%;
  display: inline-block;
  vertical-align: top;
}

.col-5_7 {
  width: 69.4%;
  margin-left: 1.0%;
  margin-right: 1.0%;
  display: inline-block;
  vertical-align: top;
}

.col-6_7 {
  width: 83.7%;
  margin-left: 1.0%;
  margin-right: 1.0%;
  display: inline-block;
  vertical-align: top;
}

.col-1_8 {
  width: 10.5%;
  margin-left: 1.0%;
  margin-right: 1.0%;
  display: inline-block;
  vertical-align: top;
}

.col-3_8 {
  width: 35.5%;
  margin-left: 1.0%;
  margin-right: 1.0%;
  display: inline-block;
  vertical-align: top;
}

.col-5_8 {
  width: 62.5%;
  margin-left: 1.0%;
  margin-right: 1.0%;
  display: inline-block;
  vertical-align: top;
}

.col-7_8 {
  width: 87.5%;
  margin-left: 1.0%;
  margin-right: 1.0%;
  display: inline-block;
  vertical-align: top;
}

.col-1_9 {
  width: 9.1%;
  margin-left: 1.0%;
  margin-right: 1.0%;
  display: inline-block;
  vertical-align: top;
}

.col-2_9 {
  width: 20.2%;
  margin-left: 1.0%;
  margin-right: 1.0%;
  display: inline-block;
  vertical-align: top;
}

.col-4_9 {
  width: 42.4%;
  margin-left: 1.0%;
  margin-right: 1.0%;
  display: inline-block;
  vertical-align: top;
}

.col-5_9 {
  width: 53.5%;
  margin-left: 1.0%;
  margin-right: 1.0%;
  display: inline-block;
  vertical-align: top;
}

.col-7_9 {
  width: 75.7%;
  margin-left: 1.0%;
  margin-right: 1.0%;
  display: inline-block;
  vertical-align: top;
}

.col-8_9 {
  width: 86.8%;
  margin-left: 1.0%;
  margin-right: 1.0%;
  display: inline-block;
  vertical-align: top;
}

.col-1_10 {
  width: 8%;
  margin-left: 1.0%;
  margin-right: 1.0%;
  display: inline-block;
  vertical-align: top;
}

.col-3_10 {
  width: 28%;
  margin-left: 1.0%;
  margin-right: 1.0%;
  display: inline-block;
  vertical-align: top;
}

.col-7_10 {
  width: 68%;
  margin-left: 1.0%;
  margin-right: 1.0%;
  display: inline-block;
  vertical-align: top;
}

.col-9_10 {
  width: 88%;
  margin-left: 1.0%;
  margin-right: 1.0%;
  display: inline-block;
  vertical-align: top;
}
/* /Grid */
